* {
  margin: 0%;
  padding: 0%;
}
body {
  height: 100vh;
  width: 100vh;
  background-image: linear-gradient(100deg, white 50%, #105392 50%);
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.container {
  width: 180vh;
  height: 80vh;
  background-image: linear-gradient(100deg, white 50%, #105392 50%);
  -webkit-box-shadow: -1px -1px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -1px 17px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

input {
  width: 250px;
  padding: 10px 4px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

label {
  color: white;
  font-size: 15px;
}

span {
  margin-left: -120px;
}

#btn {
  width: 255px;
  background-color: #2a7bad;
  color: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#logo {
  height: 20rem;
  width: 20rem;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: none;
  }
  .container {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 0%;
    padding: 0%;
  }

  span {
    display: none;
  }
  #logo {
    height: 5rem;
    width: 5rem;
  }

  input {
    background-color: skyblue;
    width: 100px;
  }

  #btn {
    width: 100px;
  }
  label {
    font-size: 10px;
  }
}
